DEBUG=1
SECRET_KEY=change-me-in-production-0123456789abcdef
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,backend
TIME_ZONE=Asia/Tashkent

# --- IBM Db2
DB2_DB=TEAMFLOW
DB2_USER=db2inst1
DB2_PASSWORD=teamflow
DB2_HOST=db2
DB2_PORT=50000

CORS_ALLOWED_ORIGINS=http://localhost:5183,http://127.0.0.1:5183
CSRF_TRUSTED_ORIGINS=http://localhost:5183,http://localhost:8010

ADMIN_EMAIL=admin@teamflow.uz
ADMIN_PASSWORD=admin12345
ADMIN_NAME=Bosh Admin

# Real-time kanal qatlami
REDIS_URL=redis://redis:6379/0
